<html>
 <head>

{% comment %}    <script src="{{ static_files }}/SHA256.js"></script>
    <script src="{{ static_files }}/prng4.js"></script>
    <script src="{{ static_files }}/rng.js"></script>
    <script src="{{ static_files }}/jsbn.js"></script>
    <script src="{{ static_files }}/jsbn2.js"></script>
    <script src="{{ static_files }}/srp.js"></script>
{% endcomment %}
    <script src="{{ static_files }}/jsPacker/srp.min.js"></script>

    <script type="text/javascript">
    function login()
    {
        srp = new SRP();
        srp.identify();
        return false;
    }
    </script>
 </head>
 <body>
    <form action="{{ srp_url }}/noJs/" onsubmit="return login()">
    <table>
    <tr><td>Username:</td><td><input type="text" id="srp_username" /></td></tr>
    <tr><td>Password:</td><td><input type="password" id="srp_password" /></td></tr>
    <input type="hidden" id="srp_url" value="{{ srp_url }}"/>
    <input type="hidden" id="srp_forward" value="#"/>
    <input type="hidden" id="srp_server" value="django"/>
    </table>
    <input type="submit"/>
    </form>
 </body>
</html>
